.st-tree {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
  .st-tree__icon {
    display: inline-block;
    width: 1.5em;
    line-height: 1.5em;
    margin: .1em;
    background-color: #eee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  li.st-tree__node--closed > ul {
    display: none;
  }
  li:not(.st-tree__node--closed) > .st-tree__icon:before {
    content: '-';
  }
  li.st-tree__node--closed > .st-tree__icon:before {
    content: '+';
  }
  li.st-tree__node--leaf > .st-tree__icon {
    visibility: hidden;
  }
  li[aria-busy="true"] > *:not(a[href="#icon"]) {
    opacity: .5;
  }
}
